
body{
    background-image: url("/LO54_maven_project/images/imbg6.png"); 
    background-attachment: fixed ;
    background-size: contain;
    
}

#titre {
    align-items:  center;
    font-size: 40px;
    font-family: Futura;
    color: aliceblue;
    
}

legend.connect {
    width: auto !important;
    border: none ;
    font-size: 24px;
    font-style: italic;
}

fieldset.connect {
    border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
}

nav{
    margin-top: 0.7%;
    border-radius: 10px;
    position: absolute;
}

.bg{
    background-color: rgb(162, 213, 236) ;
}

.formPosition{
    color: aliceblue;
    font-size: 20px;
    margin-top: 10%
}

footer{
    border-radius: 10px;
    color: rgb(144, 188, 238);
}

.fcon{
    margin-top: 20%;
    text-align: center;
}
